# Models dummy tests

Testing models from the project defined classes, including the embedding layers and time intervals handling, on dummy datasets.

## Importing the necessary packages

In [1]:
import pandas as pd                        # Pandas to load the data initially
import numpy as np                         # Mathematical operations package, allowing also for missing values representation
import torch                               # PyTorch for tensor and deep learning operations
import data_utils as du                    # Data science and machine learning relevant methods
import os                                  # os handles directory/workspace changes

In [2]:
du.random_seed

('MT19937', array([2147483648, 1256770234, 2023027596,  646966712, 3955640658,
        3609286275, 3460428425, 2616305958,  298104640, 1379089345,
        3238465535, 4066412055,   20438531,  374122254, 4105707792,
        2173841797, 3097175487, 1303810596,  751552147, 3218156518,
        2659904734, 2409227131,  251342323, 2962663233, 3595250703,
        2355817816, 1429135382, 2709037071, 2896382551, 2317082265,
        1749179562, 1655546810, 4180322766, 2564358155, 1776217414,
        1268574891, 2063757078,  668487674,  161686507, 1562100172,
        1020134090,  971565978, 2604208961,  203694675, 3073636743,
        1552423754, 1603177638,  351777504, 1633410559, 1977544140,
         628210345, 1884716641,   71995294,  566383264, 1448786642,
         214027542, 1188785439, 3726604205, 3730932953, 1903233542,
        1706845640, 2412613327, 2277970351, 3565195159,  358878464,
        1383249184, 2026319583, 3053235915, 3495132103, 2846174471,
        3435798274,   23885755, 2890752969, 1906311506,  645361551,
        2630345904,  297814516, 2507292976, 4255230217, 4253121942,
        1482524281, 1725620296, 2474598951, 3419411431, 3982403082,
        1325670630, 2859946111, 1686307668,  726026242, 4146355990,
        1026564360,  379209709, 1546081235, 2187408867,  397424728,
        3391557424, 3818551934, 1766556313, 2184530349, 1104618720,
        3722328266, 4122697369, 1822288341, 3590961886,    9365386,
         849835989, 3121088880, 2120548370, 4076080448, 3816638911,
        4164548113,  636080126,  606298503, 3165493183, 1769898918,
        1788623019, 2894198869, 2929957057,  194232347, 3378272395,
        2404322187,  612268236, 1611797930, 3330596339,  205141326,
        2092647609,  925923928,  201020652, 3000128438, 3964491295,
        3397599131, 2874635360, 1442648425, 3360674797, 1239869230,
        4085769552, 3572350057, 2295851813,  255014859,    9947360,
        1747265809, 1470717163, 1396026525, 2833165513, 3173116421,
         403014039, 3545132822, 4286486345, 2489581616, 2113731358,
         827073604, 2325782903, 2626789589, 3295354713, 1937155150,
        3802986459,  425761172,  284507767, 1877774596, 1596590653,
         906126566,   91346851, 1921561616, 1898775578,  358513482,
        1032667055, 4210910901, 2430017536, 2410629035, 1933033285,
        1349863949, 2532463749, 3783596337,  766741617, 1988660128,
        1302247305, 2944373211, 2459746446, 1008291265,  453835067,
        2163682595,  748200442, 2751386998,  214243602,  321093351,
        3594843638, 3213812534, 2975673898,  922211459,   34109706,
        2155173917,  466920643, 1007607402, 3012727488,  359961964,
        2054800718,  715941688, 3169952339, 2714057741, 2804399600,
        3532735253, 2096764424, 3130550624, 3499891947, 1946486321,
        1279091327, 2262331504, 4279560963, 3559175168, 3396307709,
        3778566752, 3802828445,   45557731, 3233630559, 1206649828,
          36260350, 3843307600,  658769270, 3154099655, 3854958769,
         159264906, 1611788691, 2120517516, 3897340251, 3876879600,
        2875887288, 2885467748,   97533159, 4020857021,  891449344,
        2622462727,  372086522,  400029395, 2191048170, 2550173048,
        3255476349, 3353650768, 2277999365,  726733689,  494822249,
        1547543449,  512555934, 4155259764, 3789490152,  310928476,
        3896268894,  416339288, 3699489110, 2833280548,  923066806,
        3959123011, 2261035443, 2670677083,  375350365,  223746622,
         893908560, 3945263171, 2544002032,  235751701,  721054157,
        3063228417,  513059638, 4281305063,  891838463, 2652335251,
        1902324881, 2507353995, 1155111086, 3637523428, 3204307903,
        2770474122, 3711583533, 3765516629, 1854946562, 1992945809,
        1637195170, 3808697680, 2578659665, 3985552006, 1103384083,
        1428755309, 4272008083, 2544334495, 2314854542, 3173375953,
        3140203433, 1869832091, 3254708457, 3031935059, 3027679396,
        2654842533,  281909754, 3127159408, 1297731963,  447200495,
        4041503795, 3878448424, 2513851300,  250464917, 3588764575,
        2173164339,  459727012, 2467445818, 1745872408, 2118776557,
        3944146692, 2776743513, 2710169534, 3202955581,  840791423,
        2957039816,  749012338, 3856269854, 2762488090,  195317020,
        1273264275,  145818821, 2956584251, 3522646943, 3967745897,
        4213776205, 4119965379, 3688831431, 4191791854,  203570102,
        1456270958,  890583773, 3806186506,  429036054, 2495934518,
        1004363301, 1348415528, 3959961660,  758883705,   93455674,
        1550722169, 1724415212, 4184278005,   63016601, 2425213114,
        1493049258,  540181456, 3665292415, 3022662653, 4279820380,
         787460829, 1736011585, 2202094134, 2228133690, 2994067959,
        4272088394,  888150503, 2468955853, 3018263605, 2493031168,
        1605374599, 1958450607, 4001640870, 2864733064, 3111656879,
         949853081,  766842055, 1467664386, 3966638617, 2771234457,
        2338903466, 1136916971, 4142703867,  782217019,  266940667,
         184720858, 1679289888, 1356443661, 2059186398,  919339332,
        2330063670, 2822862981, 1245387401, 1193539227, 3207412826,
        2587963189,  680944788, 1789940696, 1329682518, 3804037080,
         896334654,  826056740, 1991074202,  545546256, 2444418576,
        1876931863, 2455694473,  765040925, 1944527893, 3135495707,
        2561648856, 2757159266,  863079475, 1541005425, 2281094113,
        2892336961,  692733144, 3108294940, 2635222309, 2209850339,
        2889750236,  219565086,  936301593, 3162911938, 1552585656,
        3755289837, 2305180689, 2845975894,  208465646, 1217106531,
        2666533863, 4184860555, 1157489199,  374838479, 4004103070,
        1751749245, 2545590680,  449122957, 2459368001, 3898764390,
         731507691, 1188757667, 1668585731, 3742739361, 3098996084,
        2410034830, 3646274370,  314316824, 4111766278, 3990368256,
        2473052496, 2463972105,   45310929, 3773117037,  903071748,
        2702936287, 3839226727,  186340259, 1456460216,  663013872,
         510800240, 4212019046, 2368219711, 3532442856, 4038444519,
        1423276237, 1061951611, 1048176621,  696285986, 2626774361,
        3014013297,  722364042, 2596717620, 1602130054,  312256235,
        3718947742, 2755389049, 1055951960, 4116756855, 3438104777,
        3991468410, 3817526482, 2729309850,  342730041, 2943554193,
        1629864237,  594448569, 2545860346, 2411174277, 3370711760,
         197859004, 3981727904, 3939348303,  673353162,  265985741,
        1385923967, 2836222175, 1912533094, 2770342935, 3316074163,
        2652014384,  180709773, 1259140059,  222437446, 3154020492,
        2419892548, 3947274545,  947606991, 1779290831, 1492368603,
        2378460115, 2905564811, 1724948418,  804276008, 2026104564,
        3279536557, 1149018142, 1480880588,  982165341, 2383715536,
        1644824760, 1920909766, 1903453699, 3570863011, 2619718183,
          13484965, 3061521772,   42067429, 1235894776, 3586746065,
        4129021228, 4058569596,  657706641, 3849585084, 3583084358,
        2893021940, 2630864189, 2671602117, 3008505637, 2711996049,
        1391782838,  753365327, 2422620273,  776309601, 3857564287,
        1959478931, 2538808164, 1666816269, 2003411851, 1127516220,
        2337832079, 3309815555,  238610186, 3667527586, 1364488227,
        1358904843, 3262807800, 1010884776, 2498606586, 2653603534,
         608814235,  629139943,  777187173, 2295796931, 1329626978,
        2603239778, 2681398021, 1604196762,  608214578, 2408792043,
        3478159655,  343786185, 1182656959,  939615017, 4225973748,
        1405654892, 3084294084, 2977724068, 3467174047, 2865674522,
        3724125851, 1778187636,  648791932, 1338670094,  993659528,
        3152664913, 2829005800, 1208270960, 2918425841,  330968530,
        1948651313,  949950715,  925390970,  370173960, 1112701285,
         990185617,  824171965, 1551247294, 1359923161, 2152355790,
        2263146006, 3447037069, 3121816164,  603308993, 1965156707,
        2004331487, 1423750347, 3765306954, 3327396038,  576641798,
        3829537909, 3388283553, 2457879906, 2636726049, 2078407734,
        3213939924, 3534480025, 4280335128,  962299948, 2018766759,
         865676315, 2983093798, 1379907368, 1603468918, 3691835358,
         153279162, 3011327562,  412317063, 3527172382,  746127665,
         583642654, 2065667099, 1805600493, 2826597122, 2897146585,
         382701947, 1898669033, 2082728459, 1620912778], dtype=uint32), 623, 0, 0.0)

In [3]:
du.set_random_seed(42)

In [4]:
du.random_seed

42

In [5]:
du.use_modin

True

In [6]:
du.set_pandas_library('pandas')

In [7]:
du.use_modin

False

In [8]:
import pixiedust                           # Debugging in Jupyter Notebook cells

Pixiedust database opened successfully

In [9]:
# Change to scripts directory
os.chdir('../../scripts')

In [10]:
from Tabular_Dataset import Tabular_Dataset # Dataset class that helps fetching batches of data
import Models                              # Script with all the machine learning model classes

In [11]:
# Change to parent directory (presumably "eICU-mortality-prediction")
os.chdir('..')

## Initializing variables

Data that we'll be using:

In [12]:
dmy_data = np.array([[0, 23, 284, 70, 5, np.nan, 0],
                     [91, 23, 284, 70, 5, 'b', 0],
                     [92, 24, 270, 73, 5, 'b', 0],
                     [93, 22, 290, 71, 5, 'a', 0],
                     [93, 22, 290, 71, 5, 'b', 0],
                     [94, 20, 288, 65, 4, 'a', 1],
                     [94, 20, 288, 65, 4, 'b', 1],
                     [95, 21, 297, 64, 4, 'a', 1],
                     [95, 21, 297, 64, 4, 'b', 1],
                     [95, 21, 297, 64, 4, 'c', 1],
                     [10, 25, 300, 76, 5, 'a', 0],
                     [11, 19, 283, 70, 5, 'c', 0],
                     [12, 19, 306, 59, 5, 'a', 1],
                     [12, 19, 306, 59, 5, 'c', 1],
                     [13, 18, 298, 55, 3, 'c', 1],
                     [20, 20, 250, 70, 5, 'c', 0],
                     [21, 20, 254, 68, 4, 'a', 1],
                     [21, 20, 254, 68, 4, 'c', 1],
                     [22, 19, 244, 70, 3, 'a', 1],
                     [30, 27, 264, 78, 4, 'b', 0],
                     [31, 22, 293, 67, 4, 'b', 1]])

In [13]:
dmy_data

array([['0', '23', '284', '70', '5', 'nan', '0'],
       ['91', '23', '284', '70', '5', 'b', '0'],
       ['92', '24', '270', '73', '5', 'b', '0'],
       ['93', '22', '290', '71', '5', 'a', '0'],
       ['93', '22', '290', '71', '5', 'b', '0'],
       ['94', '20', '288', '65', '4', 'a', '1'],
       ['94', '20', '288', '65', '4', 'b', '1'],
       ['95', '21', '297', '64', '4', 'a', '1'],
       ['95', '21', '297', '64', '4', 'b', '1'],
       ['95', '21', '297', '64', '4', 'c', '1'],
       ['10', '25', '300', '76', '5', 'a', '0'],
       ['11', '19', '283', '70', '5', 'c', '0'],
       ['12', '19', '306', '59', '5', 'a', '1'],
       ['12', '19', '306', '59', '5', 'c', '1'],
       ['13', '18', '298', '55', '3', 'c', '1'],
       ['20', '20', '250', '70', '5', 'c', '0'],
       ['21', '20', '254', '68', '4', 'a', '1'],
       ['21', '20', '254', '68', '4', 'c', '1'],
       ['22', '19', '244', '70', '3', 'a', '1'],
       ['30', '27', '264', '78', '4', 'b', '0'],
       ['31', '22', '293', '67', '4', 'b', '1']], dtype='<U32')

In [14]:
dmy_df = pd.DataFrame(dmy_data, columns=['subject_id', 'Var0', 'Var1', 'Var2', 'Var3', 'Var4', 'label'])
dmy_df

   subject_id Var0 Var1 Var2 Var3 Var4 label
0           0   23  284   70    5  nan     0
1          91   23  284   70    5    b     0
2          92   24  270   73    5    b     0
3          93   22  290   71    5    a     0
4          93   22  290   71    5    b     0
5          94   20  288   65    4    a     1
6          94   20  288   65    4    b     1
7          95   21  297   64    4    a     1
8          95   21  297   64    4    b     1
9          95   21  297   64    4    c     1
10         10   25  300   76    5    a     0
11         11   19  283   70    5    c     0
12         12   19  306   59    5    a     1
13         12   19  306   59    5    c     1
14         13   18  298   55    3    c     1
15         20   20  250   70    5    c     0
16         21   20  254   68    4    a     1
17         21   20  254   68    4    c     1
18         22   19  244   70    3    a     1
19         30   27  264   78    4    b     0
20         31   22  293   67    4    b     1

In [15]:
dmy_df.dtypes

subject_id    object
Var0          object
Var1          object
Var2          object
Var3          object
Var4          object
label         object
dtype: object

Fix the columns dtypes:

In [16]:
dmy_df['subject_id'] = dmy_df['subject_id'].astype(int)
dmy_df['Var0'] = dmy_df['Var0'].astype(int)
dmy_df['Var1'] = dmy_df['Var1'].astype(int)
dmy_df['Var2'] = dmy_df['Var2'].astype(int)
dmy_df['Var3'] = dmy_df['Var3'].astype(int)
dmy_df['Var4'] = dmy_df['Var4'].astype(str)
dmy_df['label'] = dmy_df['label'].astype(int)

In [17]:
dmy_df.dtypes

subject_id     int64
Var0           int64
Var1           int64
Var2           int64
Var3           int64
Var4          object
label          int64
dtype: object

In [18]:
# List of used features
dmy_cols = list(dmy_df.columns)

# Remove features that aren't used by the model to predict the label
for unused_feature in ['subject_id', 'label']:
    dmy_cols.remove(unused_feature)

In [19]:
dmy_cols

['Var0', 'Var1', 'Var2', 'Var3', 'Var4']

## Preparing the dataset

### Encoding categories

Converting the categorical feature `Var4` into a numeric format, so that it can be used by the neural networks and by embedding layers.

Encode each row's categorical value:

In [20]:
dmy_df['Var4'], enum_dict = du.embedding.enum_categorical_feature(dmy_df, feature='Var4')
dmy_df

    subject_id  Var0  Var1  Var2  Var3  Var4  label
0            0    23   284    70     5     0      0
1           91    23   284    70     5     2      0
2           92    24   270    73     5     2      0
3           93    22   290    71     5     3      0
4           93    22   290    71     5     2      0
5           94    20   288    65     4     3      1
6           94    20   288    65     4     2      1
7           95    21   297    64     4     3      1
8           95    21   297    64     4     2      1
9           95    21   297    64     4     4      1
10          10    25   300    76     5     3      0
11          11    19   283    70     5     4      0
12          12    19   306    59     5     3      1
13          12    19   306    59     5     4      1
14          13    18   298    55     3     4      1
15          20    20   250    70     5     4      0
16          21    20   254    68     4     3      1
17          21    20   254    68     4     4      1
18          22    19   244    70     3     3      1
19          30    27   264    78     4     2      0
20          31    22   293    67     4     2      1

In [21]:
enum_dict

{nan: 0, 'b': 2, 'a': 3, 'c': 4}

Join the rows and their categories:

In [22]:
dmy_df = du.embedding.join_categorical_enum(dmy_df, cat_feat='Var4', id_columns='subject_id')
dmy_df

Concatenating categorical encodings...

HBox(children=(IntProgress(value=0, max=1), HTML(value='')))

Joining continuous features...

HBox(children=(IntProgress(value=0, max=6), HTML(value='')))

Merging features' dataframes...
Done!

    subject_id   Var4  Var0  Var1  Var2  Var3  label
0            0      0    23   284    70     5      0
1           10      3    25   300    76     5      0
2           11      4    19   283    70     5      0
3           12    3;4    19   306    59     5      1
4           13      4    18   298    55     3      1
5           20      4    20   250    70     5      0
6           21    3;4    20   254    68     4      1
7           22      3    19   244    70     3      1
8           30      2    27   264    78     4      0
9           31      2    22   293    67     4      1
10          91      2    23   284    70     5      0
11          92      2    24   270    73     5      0
12          93    3;2    22   290    71     5      0
13          94    3;2    20   288    65     4      1
14          95  3;2;4    21   297    64     4      1

### Normalizing the features

In [23]:
dmy_df.describe().transpose()

            count        mean        std    min    25%    50%    75%    max
subject_id   15.0   42.333333  37.884536    0.0   12.5   22.0   91.5   95.0
Var0         15.0   21.466667   2.559762   18.0   19.5   21.0   23.0   27.0
Var1         15.0  280.333333  19.437323  244.0  267.0  284.0  295.0  306.0
Var2         15.0   68.400000   5.925731   55.0   66.0   70.0   70.5   78.0
Var3         15.0    4.400000   0.736788    3.0    4.0    5.0    5.0    5.0
label        15.0    0.466667   0.516398    0.0    0.0    0.0    1.0    1.0

In [24]:
dmy_norm_df = du.data_processing.normalize_data(dmy_df, id_columns='subject_id',
                                                categ_columns=['Var4', 'label'], see_progress=False)
dmy_norm_df

z-score normalizing columns ['Var0', 'Var1', 'Var2', 'Var3']...

    subject_id   Var4      Var0      Var1      Var2      Var3  label
0            0      0  0.599014  0.188641  0.270009  0.814345      0
1           10      3  1.380337  1.011799  1.282542  0.814345      0
2           11      4 -0.963631  0.137193  0.270009  0.814345      0
3           12    3;4 -0.963631  1.320484 -1.586302  0.814345      1
4           13      4 -1.354293  0.908904 -2.261324 -1.900138      1
5           20      4 -0.572970 -1.560572  0.270009  0.814345      0
6           21    3;4 -0.572970 -1.354782 -0.067502 -0.542897      1
7           22      3 -0.963631 -1.869256  0.270009 -1.900138      1
8           30      2  2.161659 -0.840308  1.620053 -0.542897      0
9           31      2  0.208353  0.651667 -0.236258 -0.542897      1
10          91      2  0.599014  0.188641  0.270009  0.814345      0
11          92      2  0.989675 -0.531623  0.776276  0.814345      0
12          93    3;2  0.208353  0.497325  0.438764  0.814345      0
13          94    3;2 -0.572970  0.394430 -0.573769 -0.542897      1
14          95  3;2;4 -0.182309  0.857457 -0.742524 -0.542897      1

In [25]:
dmy_norm_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
subject_id,15.0,4.233333e+01,37.884536,0.000000,12.500000,22.000000,91.500000,95.000000
Var0,15.0,6.587323e-16,1.000000,-1.354293,-0.768301,-0.182309,0.599014,2.161659
Var1,15.0,9.473903e-16,1.000000,-1.869256,-0.685966,0.188641,0.754562,1.320484
Var2,15.0,-9.621933e-16,1.000000,-2.261324,-0.405013,0.270009,0.354387,1.620053
Var3,15.0,-4.884981e-16,1.000000,-1.900138,-0.542897,0.814345,0.814345,0.814345
label,15.0,4.666667e-01,0.516398,0.000000,0.000000,0.000000,1.000000,1.000000

### Converting string encodings to numeric

In [26]:
dmy_norm_df = du.embedding.string_encod_to_numeric(dmy_norm_df, cat_feat='Var4', inplace=True)
dmy_norm_df

    subject_id     Var4      Var0      Var1      Var2      Var3  label
0            0      0.0  0.599014  0.188641  0.270009  0.814345      0
1           10      3.0  1.380337  1.011799  1.282542  0.814345      0
2           11      4.0 -0.963631  0.137193  0.270009  0.814345      0
3           12    304.0 -0.963631  1.320484 -1.586302  0.814345      1
4           13      4.0 -1.354293  0.908904 -2.261324 -1.900138      1
5           20      4.0 -0.572970 -1.560572  0.270009  0.814345      0
6           21    304.0 -0.572970 -1.354782 -0.067502 -0.542897      1
7           22      3.0 -0.963631 -1.869256  0.270009 -1.900138      1
8           30      2.0  2.161659 -0.840308  1.620053 -0.542897      0
9           31      2.0  0.208353  0.651667 -0.236258 -0.542897      1
10          91      2.0  0.599014  0.188641  0.270009  0.814345      0
11          92      2.0  0.989675 -0.531623  0.776276  0.814345      0
12          93    302.0  0.208353  0.497325  0.438764  0.814345      0
13          94    302.0 -0.572970  0.394430 -0.573769 -0.542897      1
14          95  30204.0 -0.182309  0.857457 -0.742524 -0.542897      1

### Dataset object

In [27]:
dataset = Tabular_Dataset(dmy_norm_df.to_numpy(), dmy_norm_df)

### Separating into train and validation sets

Since this notebook is only for experimentation purposes, with a very small dummy dataset, we'll not be using a test set.

Training parameters:

In [28]:
batch_size = 32                                 # Number of patients in a mini batch
n_epochs = 50                                   # Number of epochs
lr = 0.001                                      # Learning rate

Separation in train and validation sets:

In [29]:
# Get the train and validation sets data loaders, which will allow loading batches
train_dataloader, val_dataloader, _ = du.machine_learning.create_train_sets(dataset, test_train_ratio=0, 
                                                                            validation_ratio=0.25,
                                                                            batch_size=4, get_indeces=False)

In [30]:
next(iter(train_dataloader))[0]

tensor([[ 9.4000e+01,  3.0200e+02, -5.7297e-01,  3.9443e-01, -5.7377e-01,
         -5.4290e-01],
        [ 9.5000e+01,  3.0204e+04, -1.8231e-01,  8.5746e-01, -7.4252e-01,
         -5.4290e-01],
        [ 3.0000e+01,  2.0000e+00,  2.1617e+00, -8.4031e-01,  1.6201e+00,
         -5.4290e-01],
        [ 1.2000e+01,  3.0400e+02, -9.6363e-01,  1.3205e+00, -1.5863e+00,
          8.1435e-01]], dtype=torch.float64)

In [31]:
next(iter(val_dataloader))[0]

tensor([[ 9.3000e+01,  3.0200e+02,  2.0835e-01,  4.9733e-01,  4.3876e-01,
          8.1435e-01],
        [ 3.1000e+01,  2.0000e+00,  2.0835e-01,  6.5167e-01, -2.3626e-01,
         -5.4290e-01],
        [ 2.2000e+01,  3.0000e+00, -9.6363e-01, -1.8693e+00,  2.7001e-01,
         -1.9001e+00]], dtype=torch.float64)

## Models testing

### MLP

#### Creating the model

Model parameters:

In [32]:
n_ids = dmy_norm_df.subject_id.nunique()      # Total number of sequences
n_inputs = len(dmy_norm_df.columns)           # Number of input features
n_hidden = 10                                 # Number of hidden units
n_outputs = 1                                 # Number of outputs
n_layers = 2                                  # Number of MLP layers
p_dropout = 0.2                               # Probability of dropout
use_batch_norm = False                        # Indicates if batch normalization is applied

Instantiating the model:

In [33]:
model = Models.MLP(n_inputs-2, n_hidden, n_outputs, n_layers, p_dropout, use_batch_norm)
model

MLP(
  (linear_layers): ModuleList(
    (0): Linear(in_features=5, out_features=10, bias=True)
    (1): Linear(in_features=10, out_features=1, bias=True)
  )
  (dropout): Dropout(p=0.2, inplace=False)
)

#### Training the model

In [34]:
next(model.parameters())

Parameter containing:
tensor([[ 0.0661, -0.2088,  0.1140, -0.2060, -0.0524],
        [-0.1816,  0.2967, -0.3530, -0.2062, -0.1263],
        [-0.2689,  0.0422, -0.4417,  0.4039, -0.3799],
        [ 0.3453,  0.0744, -0.1452,  0.2764,  0.0697],
        [ 0.3613,  0.0489, -0.1410,  0.1202, -0.1213],
        [ 0.1882,  0.3993,  0.2585, -0.1955,  0.2582],
        [ 0.0800,  0.2271, -0.2726, -0.4427, -0.1728],
        [-0.3430,  0.3670,  0.1288,  0.1852,  0.1414],
        [-0.0078,  0.3500, -0.3178,  0.0282, -0.3052],
        [ 0.1379, -0.1540,  0.1370, -0.0932,  0.3709]], requires_grad=True)

In [35]:
model = du.deep_learning.train(model, train_dataloader, val_dataloader, cols_to_remove=0,
                               model_type='mlp', batch_size=batch_size, n_epochs=n_epochs, 
                               lr=lr, model_path='models/', do_test=False, log_comet_ml=False)

RuntimeError: element 0 of tensors does not require grad and does not have a grad_fn

In [ ]:
next(model.parameters())

#### Testing the model

In [ ]:
output, metrics = du.deep_learning.model_inference(model, seq_len_dict, dataloader=val_dataloader, 
                                                   model_type='mlp', metrics=['loss', 'accuracy', 'AUC'],
                                                   output_rounded=False, set_name='test', 
                                                   cols_to_remove=du.search_explore.find_col_idx(dmy_norm_df, 'subject_id'))
output

In [ ]:
metrics

### MLP with embedding layers

#### Creating the model

Model parameters:

In [ ]:
n_ids = dmy_norm_df.subject_id.nunique()      # Total number of sequences
n_inputs = len(dmy_norm_df.columns)           # Number of input features
n_hidden = 10                                 # Number of hidden units
n_outputs = 1                                 # Number of outputs
n_layers = 1                                  # Number of LSTM layers
p_dropout = 0.2                               # Probability of dropout
use_batch_norm = False                        # Indicates if batch normalization is applied

Instantiating the model:

In [ ]:
len(enum_dict.items())+1

In [ ]:
model = Models.MLP(n_inputs-2, n_hidden, n_outputs, n_layers, p_dropout, use_batch_norm,
                   embed_features=du.search_explore.find_col_idx(dmy_norm_df, 'Var4'), num_embeddings=5,
                   embedding_dim=2)
model

#### Training the model

In [ ]:
next(model.parameters())

In [ ]:
model = du.deep_learning.train(model, train_dataloader, val_dataloader, cols_to_remove=0,
                               model_type='mlp', batch_size=batch_size, n_epochs=n_epochs, 
                               lr=lr, model_path='models/', do_test=False, log_comet_ml=False)

In [ ]:
next(model.parameters())

#### Testing the model

In [ ]:
output, metrics = du.deep_learning.model_inference(model, seq_len_dict, dataloader=val_dataloader, 
                                                   model_type='mlp', metrics=['loss', 'accuracy', 'AUC'],
                                                   output_rounded=False, set_name='test', 
                                                   cols_to_remove=du.search_explore.find_col_idx(dmy_norm_df, 'subject_id'))
output

In [ ]:
metrics

### Regularization Learning Network (RLN)

### SVM

### Decision tree

### XGBoost